<div ng-init="getHelperList()">
	<div class="header-blue">
		<nav class="navbar navbar-default navigation-clean-search">
			<div class="container">
				<div class="navbar-header">
					<h2 class="navbar-brand navbar-link" href="#">Surprise.com</h2>
				</div>
				<div class="collapse navbar-collapse" id="navcol-1">
					<p class="navbar-text navbar-right">
						<a class="navbar-link login" href="#">Hello, Sai Kumar Karnate</a>
					</p>
				</div>
				<p class="navbar-text">
					<br>
				<div class="form-inline">
					<h4>Would like to send Gift/Parcel ? &nbsp;&nbsp;&nbsp;</h4>
				</div>
				<table style="margin-left: 35px;">
					<tr>
						<td></td>
						<td>Form:&nbsp;&nbsp;&nbsp;</td>
						<td>{{jurny.from}}</td>
					</tr>
					<tr>
						<td></td>
						<td>To:</td>
						<td>{{jurny.to}}</td>
					</tr>
				</table>
				<button style="float: right; margin-top: -40px;"
					class="btn btn-warning btn-md">Post Public Request</button>
			</div>
		</nav>
	</div>
	<div style="margin: 40px;">
		<div style="padding: 19px;" ng-repeat="det in helpers"
			class="w3-card-4">
			<div class="w3-container">
				<div class="col-md-8">
					<h3>{{det.user.name}}</h3>
					<h6>Mobile :+91-988-0082-862</h6>
					<h6>Date : {{det.estTime | date:'dd-MMM-YYYY'}}</h6>
				</div>
				<div class="col-md-3">
					<span style="font-size: 12px;">RS/KMS : 2.00RS</span><br> <span
						style="font-size: 12px;">Maximum Weight : 4kg</span><br> <span
						style="font-size: 12px;">Parcel Size : 2x5</span>
				</div>
				<div align="center">
					<table>
						<tr>
							<td style="font-size: 17px;">{{det.fromJ}}<img
								style="height: 20px; width: 20px;" alt=""
								src="images/markerstart.png"></td>
							<td><h4>
									<b>======</b>
								</h4></td>
							<td><img title="Halt-1 {100KM}"
								style="height: 20px; width: 20px;" alt=""
								src="images/marker.png"></td>
							<td style="font-size: 12px;">(8:00PM)</td>
							<td><h4>
									<b>======</b>
								</h4></td>
							<td><img style="height: 40px; width: 40px;" alt=""
								src="images/bus.png"></td>
							<td><h4>
									<b>======</b>
								</h4></td>
							<td><img title="Halt-2 {200KM}"
								style="height: 20px; width: 20px;" alt=""
								src="images/marker.png"></td>
							<td style="font-size: 12px;">(9:00PM)</td>
							<td><h4>
									<b>======</b>
								</h4></td>
							<td style="font-size: 17px;"><img
								style="height: 20px; width: 20px;" alt=""
								src="images/markerstart.png">{{det.toJ}}</td>
							<td style="width: 60px;"></td>
							<td><button ng-click="edit(det)"
									class="btn btn-warning btn-xs">Initiate Request to
									{{det.user.name}}</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>