<div ng-init="getGiftList()">
	<div class="header-blue">
		<nav class="navbar navbar-default navigation-clean-search">
			<div class="container">
				<div class="navbar-header">
					<h2 class="navbar-brand navbar-link" href="#">Surprise.com</h2>
				</div>
				<div class="collapse navbar-collapse" id="navcol-1">
					<p class="navbar-text navbar-right">
						<a class="navbar-link login" href="#">Hello, Sai Kumar Karnate</a>
					</p>
				</div>
				<p class="navbar-text">
					<br>
				<div class="form-inline">
					<h4>Would like to help others by carrying a Gift/Parcel ?
						&nbsp;&nbsp;&nbsp;</h4>
				</div>
				<table style="margin-left: 35px;">
					<tr>
						<td></td>
						<td>Form:&nbsp;&nbsp;&nbsp;</td>
						<td id="from">{{jurny.from}}</td>
					</tr>
					<tr>
						<td></td>
						<td>To:</td>
						<td id="to">{{jurny.to}}</td>
					</tr>
				</table>
			</div>
		</nav>
	</div>
	<div style="margin: 40px;">
		<div style="margin: 40px;">
			<div style="padding: 19px;" ng-repeat="det in gifts"
				class="w3-card-4">
				<div class="w3-container">
					<div class="col-md-6">
						<table>
							<tr>
								<td><img style="height: 40px; width: 40px;" alt=""
									src="images/gift.png"></td>
								<td><h4>&nbsp;&nbsp;{{det.user.name}}</h4>&nbsp;&nbsp;Mobile:
									+91-9880082862</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td><h6 style="font-size: 14px;">
										Parcel Size: {{$index +10 -4}} x {{$index +1}} <br>
										<br>Amount: {{$index+127}}.00RS
									</h6></td>
							</tr>
							<tr>
								<td></td>
								<td><h6>&nbsp;&nbsp;{{det.delToComment}} NO -
										{{$index+1}}</h6></td>
							</tr>
						</table>

					</div>
					<div class="col-md-4">
						<h6>
							<img style="height: 20px; width: 20px;" alt=""
								src="images/markerstart.png">&nbsp;Delivery Address:<br>
							<span style="margin-top: 10px; font-size: 12px;">
								&nbsp;&nbsp;{{det.delToName}} , Road No - {{$index+1}}, Behind
								Building No - {{$index}}<br> &nbsp;&nbsp;Pincode :
								50000{{$index+3}}, {{jurny.to}}, Andhra Pradesh.
							</span>
						</h6>
					</div>
					<div style="margin-top: 20px;" align="center">
						<button id="accept" ng-click="det.status = true" ng-show="det.status == false" class="btn btn-warning btn-sm">Accept
							Request</button>
						<button ng-disabled="true" ng-show="det.status == true" class="btn btn-success btn-sm">Accepted
							Request</button>
					</div>
				</div>
			</div>
		</div>
	</div>