<div>
	<div class="header-blue">
		<nav class="navbar navbar-default navigation-clean-search">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand navbar-link" href="#">Surprise.com</a>
				</div>
				<div class="collapse navbar-collapse" id="navcol-1">
					<p class="navbar-text navbar-right">
						<a class="navbar-link login" href="#">Hello, Sai Kumar Karnate</a>
					</p>
				</div>
			</div>
		</nav>
		<div align="center" class="form-inline">
			<input id="from" class="form form-control input-md" auto-complete=""
				placeholder="From" ui-items="dataSource" ng-model="from" /> <input id="to"
				class="form form-control input-md" auto-complete="" placeholder="To"
				ui-items="dataSource" ng-model="to">
			<button id="need_id" ng-disabled="!from || !to" class="btn btn-warning btn-md" ng-click="gotoHelper(from,to)">Need
				Help ?</button>
			<button id="wanna_id" ng-disabled="!from || !to" class="btn btn-warning btn-md" ng-click="gotoSender(from,to)">Wanna
				Help.. :)</button>
		</div>
	</div>
	<div align="center">
		<table style="margin-top: 30px;">
			<tr>
				<td><img style="height: 20px; width: 20px;" alt=""
					src="images/markerstart.png"></td>
				<td><h4>
						<b>======</b>
					</h4></td>
				<td><img title="Halt-1 {100KM}"
					style="height: 20px; width: 20px;" alt="" src="images/marker.png"></td>
				<td><h4>
						<b>======</b>
					</h4></td>
				<td><img style="height: 40px; width: 40px;" alt=""
					src="images/bus.png"></td>
				<td><h4>
						<b>======</b>
					</h4></td>
				<td><img
					style="height: 20px; width: 20px;" alt=""
					src="images/markerstart.png"><img style="height: 40px; width: 40px;" alt=""
					src="images/bike.png"></td>
				<td>
				<td><h4>
						<b>======</b>
					</h4></td>
				<td><img title="Halt-2 {200KM}"
					style="height: 20px; width: 20px;" alt="" src="images/marker.png"></td>
				<td style="font-size: 12px;"></td>
				<td><h4>
						<b>======</b>
					</h4></td>
				<td><h4>
						<b>======</b>
					</h4></td>
				<td><img style="height: 40px; width: 40px;" alt=""
					src="images/car.png"></td>
				<td>
				<td style="font-size: 17px;"><img
					style="height: 20px; width: 20px;" alt=""
					src="images/markerstart.png">{{det.toJ}}</td>
				<td style="width: 60px;"></td>
			</tr>
		</table>
		<img alt="" src="images/surprise.png">
	</div>
</div>